<h1>Welcome to Eat-A-Burger</h1> 

<div class = "burgers">
    <h2> Burgers that are ready to be devoured:</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>{{this.burger_name}}</li>
    {{/unless}}
    {{/each}}
</ul>
</div>

<div class = "devoured">
  <h2> Burgers that have been devoured:</h2>
   
   

</div>