
<div class="container">
    <div class="jumbotron bg-success text-center ">
        <h1>Eat-A-Burger!</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 m-auto">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header alert-success text-center">
                            Available Burgers:
                        </div>
                        <ol>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <li>{{burger_name}} <button type="submit" class="btn btn-danger btn-sm devourBtn" data-id="{{id}}">Devour It!</button></li>
                            {{/unless}}
                        {{/each}}
                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header alert-success text-center">
                            Devoured Burgers:
                        </div>
                        <ol>
                        {{#each burgers}}
                            {{#if devoured}}
                                <li>{{burger_name}}</li>
                            {{/if}}
                        {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row form-row">
        <div class="col">
            <div class="row">
                <div class="col-6 m-auto text-center">
                    <h4>Update Menu !</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6 m-auto text-center">
                    <form class="create-form">
                        <div class="form-group">
                            <input type="text" id="burger" name="name">
                        </div>
                        <button type="submit" id="submitBtn" class="btn btn-success">Order Up!</button>
                    </form>
                </div>
            </div>
            
                   
                </div>
            </div>

        </div>
    </div>
</div>