.jumbotron {
    background-image: url(/assets/img/burger.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
h1{
    background-color:rgba(230, 230, 230, 0.514);
    box-sizing: initial;
  
}
.form-row {
    margin-top: 20px;
}
.card li {
    margin: 10px;
}
#submitBtn {
    font-weight: bold;
}
#devourBtn {
 font-weight:bold;
}

