
  
<li class= 
{{#if devoured}}
  "eaten"
  {{/if}}
  >
	
	{{burger_name}}

	{{#unless devoured}}
	<button class="change-status" data-id="{{id}}" data-devoured="{{devoured}}">
		Eat Me !
	</button>
	{{/unless}}
</li>